parameters:
	ignoreErrors:
		-
			message: "#^Method LongitudeOne\\\\Geo\\\\String\\\\Parser\\:\\:point\\(\\) never returns array\\<float\\|int\\> so it can be removed from the return type\\.$#"
			count: 1
			path: ../../lib/LongitudeOne/Geo/String/Parser.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: ../../lib/LongitudeOne/Geo/String/Parser.php

		-
			message: "#^Method LongitudeOne\\\\Geo\\\\String\\\\Tests\\\\LexerTest\\:\\:dataProvider\\(\\) return type with generic class Doctrine\\\\Common\\\\Lexer\\\\Token does not specify its types\\: T, V$#"
			count: 1
			path: ../../tests/LongitudeOne/Geo/String/Tests/LexerTest.php