parameters:
	ignoreErrors:
		-
			message: "#^Method LongitudeOne\\\\Geo\\\\WKT\\\\Lexer\\:\\:value\\(\\) should return float\\|int\\|string but returns float\\|int\\|string\\|null\\.$#"
			count: 1
			path: ../../lib/LongitudeOne/Geo/WKT/Lexer.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: ../../lib/LongitudeOne/Geo/WKT/Lexer.php

		-
			message: "#^Type float\\|int\\|string in generic type Doctrine\\\\Common\\\\Lexer\\\\AbstractLexer\\<int, float\\|int\\|string\\> in PHPDoc tag @extends is not subtype of template type V of int\\|string of class Doctrine\\\\Common\\\\Lexer\\\\AbstractLexer\\.$#"
			count: 1
			path: ../../lib/LongitudeOne/Geo/WKT/Lexer.php

		-
			message: "#^Method LongitudeOne\\\\Geo\\\\WKT\\\\Parser\\:\\:coordinate\\(\\) should return float\\|int but returns float\\|int\\|string\\.$#"
			count: 1
			path: ../../lib/LongitudeOne/Geo/WKT/Parser.php

		-
			message: "#^Method LongitudeOne\\\\Geo\\\\WKT\\\\Parser\\:\\:geometryCollection\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../lib/LongitudeOne/Geo/WKT/Parser.php

		-
			message: "#^Method LongitudeOne\\\\Geo\\\\WKT\\\\Parser\\:\\:parse\\(\\) should return array\\{type\\: string, value\\: array\\<array\\<float\\|int\\>\\|float\\|int\\>, srid\\: int\\|null, dimension\\: string\\|null\\} but returns array\\{type\\: string, value\\: array\\<array\\<array\\<array\\<float\\|int\\>\\|float\\|int\\>\\|float\\|int\\>\\|float\\|int\\>, srid\\: int\\|null, dimension\\: null\\}\\.$#"
			count: 1
			path: ../../lib/LongitudeOne/Geo/WKT/Parser.php

		-
			message: "#^Method LongitudeOne\\\\Geo\\\\WKT\\\\Parser\\:\\:srid\\(\\) should return int but returns float\\|int\\|string\\.$#"
			count: 1
			path: ../../lib/LongitudeOne/Geo/WKT/Parser.php

		-
			message: "#^Method LongitudeOne\\\\Geo\\\\WKT\\\\Parser\\:\\:type\\(\\) should return string but returns float\\|int\\|string\\.$#"
			count: 1
			path: ../../lib/LongitudeOne/Geo/WKT/Parser.php

		-
			message: "#^Parameter \\#1 \\$token of method LongitudeOne\\\\Geo\\\\WKT\\\\Parser\\:\\:match\\(\\) expects int, int\\|null given\\.$#"
			count: 1
			path: ../../lib/LongitudeOne/Geo/WKT/Parser.php

		-
			message: "#^Property LongitudeOne\\\\Geo\\\\WKT\\\\Parser\\:\\:\\$dimension \\(string\\|null\\) does not accept float\\|int\\|string\\.$#"
			count: 1
			path: ../../lib/LongitudeOne/Geo/WKT/Parser.php
